<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated carcha -->
      <package
            uri="http://carcha/1.0"
            class="isistan.edu.carcha.model.carcha.CarchaPackage"
            genModel="model/carcha.genmodel"/>
   </extension>

</plugin>
